<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Shared <head> section used by all EJS templates -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Page title is provided by the route/controller -->
    <title><%= pageTitle %></title>
